// light-theme

// $color-border: #040404;
// $color-text: #040404;
// $color-btn-border: #000000;
// $color-cell-border: #000000;
// $color-cell: #000000;
// $color-time: #cb0000;
// $color-btn-hover: #cb0000;
// $color-border-shadow: lightgrey;
// $color-switcher: #fbfbfb;
// $color-bg-switcher: #cb0000;
// $color-bg-switcher-checked: lightgrey;
// $color-btn-disabled: #a9a9a9;
// $color-bg-field: #f5f5f5;
// $color-btn-bg: #fbfbfb;
// $color-field-bg: #fbfbfb;
// $color-modal-bg: #fbfbfb;
// $color-text-accent: #cb0000;

// light-theme
$color-border: #040404;
$color-border-shadow: #d3d3d3;
$color-bg-wrapper: #fbfbfb;
$color-bg-field: #f5f5f5;
$color-border-cell: #404040;
$color-field-text: #040404;
$color-cell: #040404;
$color-time: #cb0000;
$color-text: #040404;
$color-switcher: #fbfbfb;
$color-btn-border: #040404;
$color-btn-bg: #fbfbfb;
$color-bg-switcher: #cb0000;
$color-bg-switcher-checked: #c0c0c0;
$btn-shadow: #d3d3d3;
$color-btn-disabled: #a9a9a9;
$color-btn-hover: #cb0000;
$color-modal-bg: #fbfbfb;
$color-text-accent: #cb0000;

// dark-theme
$dark-color-bg-wrapper: #696969;
$dark-color-bg-field: #404040;
$dark-color-border-cell: #808080;
$dark-color-field-text: #d43333;
$dark-color-cell: #a9a9a9;
$dark-color-time: #d43333;
$dark-color-text: #a9a9a9;
$dark-color-switcher: #696969;
$dark-color-btn-border: #404040;
$dark-color-btn-bg: #404040;
$dark-color-btn: #c0c0c0;
$dark-btn-shadow: #c0c0c0;
$dark-color-label: #202020;
$dark-color-btn-disabled: #808080;
$dark-color-btn-hover: #d43333;
$dark-title-shadow: #c0c0c0;
$dark-time-shadow: #040404;
$dark-color-modal-bg: #a9a9a9;
$dark-btn-end-game-bg: #808080;

$grey8: #404040;
$grey1: #696969;
$grey2: #808080;
$grey3: #a9a9a9;
$grey4: #c0c0c0;
$grey5: #d3d3d3;
$grey6: #dcdcdc;
$grey7: #f5f5f5;
