.controls-wrapper {
  width: 250px;
  height: 630px;
  font-size: 20px;

  @include flex-column(space-between);
}

.select-box {
  @include flex-column;
  width: 100%;
  gap: 10px;
}

.btn-box {
  margin-top: 40px;
  @include flex-column;
  width: 100%;
  gap: 10px;
}

.select-wrapper {
  width: 100%;
  @include flex-column;

  .select-label {
    color: $color-text;

    // .dark-theme & {
    //   color: $dark-color-label;
    // }
  }

  .select-level,
  .select-game {
    margin-top: 5px;
    // border: none;
    outline: none;
    // width: 150px;
    height: 35px;
    text-align: center;
    border: 1px solid $color-btn-border;
    box-shadow: 0px 0px 5px 3px $btn-shadow;
    border-radius: 5px;
    font-size: 18px;
    background-color: $color-btn-bg;
    color: $color-text;
    cursor: pointer;

    .dark-theme & {
      color: $dark-color-btn;
      background-color: $dark-color-btn-bg;
      border-color: $dark-color-btn-border;
      box-shadow: 0px 0px 5px 1px $dark-btn-shadow;
    }

    &:disabled {
      pointer-events: none;
      border-color: $color-btn-disabled;

      // .dark-theme & {
      //   background-color: $dark-bg-btn-disabled;
      // }
    }
  }
}

.btn {
  width: 100%;
  background-color: $color-btn-bg;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px 3px $color-border-shadow;
  border: 1px solid $color-btn-border;
  border-radius: 5px;
  height: 45px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  .dark-theme & {
    color: $dark-color-btn;
    background-color: $dark-color-btn-bg;
    border-color: $dark-color-btn-border;
    box-shadow: 0px 0px 5px 1px $dark-btn-shadow;
  }

  &:disabled {
    pointer-events: none;
    border-color: $color-btn-disabled;
    color: $color-btn-disabled;

    .dark-theme & {
      color: $dark-color-btn-disabled;
    }
  }

  @media (hover: hover) {
    &:hover {
      color: $color-btn-hover;
      // border: 1px solid $color-btn-bg;
      box-shadow: 0px 0px 5px 3px $color-border-shadow;

      .dark-theme & {
        color: $dark-color-btn-hover;
      }
    }
  }
}
