.header {
  height: 80px;
  width: 100%;
  @include flex(space-between, center);
}
.header-btn-box {
  // width: 200px;
  height: 100%;
  @include flex(space-between, center);
  gap: 15px;
}

.volume-box {
  width: 30px;
  height: 30px;
  cursor: pointer;

  .volume-icon {
    width: 100%;
    height: 100%;
  }
}

.title {
  font-size: 35px;
  font-family: "Astakhov Skin";
  color: $color-text;
  margin: 0;

  .dark-theme & {
    // color: #404040;
    text-shadow: 0px 0px 3px $dark-title-shadow;
  }
}

.timer {
  // width: 200px;
  text-align: center;
  font-size: 30px;
  align-self: center;
  @include flex(center);
  color: $color-time;

  .dark-theme & {
    color: $dark-color-time;
    text-shadow: 0px 0px 3px $dark-time-shadow;
  }
  span {
    display: block;
    width: 30px;
    text-align: center;
  }

  span:first-child {
    width: 70px;
    text-align: right;
  }

  span:last-child {
    width: 40px;
    text-align: left;
  }
}

.switch {
  cursor: pointer;
  width: 50px;
  height: 25px;
}

.input-theme {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: $color-bg-switcher;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: $color-switcher;
  background-image: url("./assets/icons/sun.svg");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  transition: transform 0.3s;

  .dark-theme & {
    background-color: $dark-color-switcher;
    background-image: url("./assets/icons/night.svg");
    background-size: 70% 70%;
  }
}

.input-theme:checked + .slider {
  background-color: $color-bg-switcher-checked;
}

.input-theme:checked + .slider::before {
  transform: translateX(25px);
}
