.wrapper {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-bg-wrapper;
  border-radius: 10px;
  padding: 10px 50px 20px 50px;
  @include flex-column(normal, normal);
  box-shadow: 0px 0px 10px 1px $color-border;
  transition: all 0.5 linear;

  .dark-theme & {
    background-color: $dark-color-bg-wrapper;
    // box-shadow: 0px 0px 10px 1px $dark-color-border;
  }
}

.game-wrapper {
  width: 100%;
  // height: calc(100% - 100px);
  @include flex(space-between);
  margin-top: 10px;
  // flex-grow: 1;
  // @include flex-column(normal, normal);

  // flex-wrap: wrap;
  // font-family: "Itim";
}
